<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunchuang.crm.console.project.dao.IProjectDao">
	<resultMap id="BaseResultMap" type="com.yunchuang.crm.console.project.model.Project">
		<id column="ID" property="id" jdbcType="INTEGER"/>
		<result column="PROJECTNO" property="projectNo" jdbcType="VARCHAR"/>
		<result column="PROJECTNAME" property="projectName" jdbcType="VARCHAR"/>
		<result column="CUSTOMERNO" property="customerNo" jdbcType="VARCHAR"/>
		<result column="CONTACTNO" property="contactNo" jdbcType="VARCHAR"/>
		<result column="BUSINESSCATEGORY" property="businessCategory" jdbcType="VARCHAR"/>
		<result column="REMARKS" property="remarks" jdbcType="VARCHAR"/>
	</resultMap>

	<!-- 1.增加 -->
	<insert id="add" parameterType="com.yunchuang.crm.console.project.model.Project">
    INSERT INTO crm_project VALUES
    (crm_project_seq.nextval,
    #{projectNo,jdbcType=VARCHAR},
    #{projectName,jdbcType=VARCHAR},
    #{customerNo,jdbcType=VARCHAR},

    #{contactNo,jdbcType=VARCHAR},
    #{businessCategory,jdbcType=VARCHAR},
    #{remarks,jdbcType=VARCHAR}
    )
  </insert>



	<!-- 3.更改 -->
	<update id="update" parameterType="com.yunchuang.crm.console.project.model.Project">
    UPDATE crm_project SET
    projectNo=#{projectNo,jdbcType=VARCHAR},
    projectName=#{projectName,jdbcType=VARCHAR},
    customerNo=#{customerNo,jdbcType=VARCHAR},

    contactNo=#{contactNo,jdbcType=VARCHAR},
    businessCategory=#{businessCategory,jdbcType=VARCHAR},
    remarks=#{remarks,jdbcType=VARCHAR}
    WHERE id=#{id}
  </update>

	<!-- 4.删除 -->
	<delete id="delete" parameterType="java.util.Arrays">
		DELETE FROM crm_project where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- 5.读取列表 -->
	<select id="list" resultMap="BaseResultMap">
    SELECT * FROM crm_project ORDER BY id
  </select>

	<!-- 6.根据ID查找 -->
	<select id="loadById" resultMap="BaseResultMap">
    SELECT * FROM crm_project WHERE id=#{id}
  </select>


	<!-- 8.查询所有数量 -->
	<select id="count" resultType="int">
    SELECT count(*) FROM crm_project
  </select>

	<!-- 9.控制台分页读 -->
	<select id="findByConsole" resultMap="BaseResultMap">
    <![CDATA[
	    SELECT *
	      FROM (SELECT ab.*, ROWNUM RN
	              FROM (SELECT * FROM crm_project ORDER BY id DESC) ab
	             WHERE ROWNUM <= (#{max}))
	     WHERE RN >= (#{min})
		]]>
  </select>

	<!-- 10.清除表,不支持回滚 -->
	<select id="truncateAll" resultMap="BaseResultMap">
    TRUNCATE TABLE crm_project
  </select>


</mapper>