<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" class="no-js"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{console/layout/layout}">
<body>
<div layout:fragment="content">
	<!-- BEGIN PAGE BASE CONTENT -->
	<!--1.审批中-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption font-dark">
						<i class="icon-settings font-dark"></i>
						<span class="caption-subject bold uppercase"> 业务表</span>
					</div>
					<div class="tools">
						<a href="javascript:" class="collapse"> </a>
						<a href="javascript:" class="reload" onclick="refreshTable($('#sample_1'));"></a>
					</div>
					<div class="actions">
						<a class="btn btn-transparent dark btn-outline btn-circle"
						   th:href="@{/console/project/add}">
							<i class="fa fa-plus"></i>
							<span class="hidden-xs"> 增加 </span>
						</a>
						<a class="btn red btn-outline btn-circle" href="javascript:deleteProject();">
							<i class="fa fa-trash-o"></i>
							<span class="hidden-xs"> 删除 </span>
						</a>
						<a class="btn blue btn-outline btn-circle" href="javascript:downloadTemplate();">
							<i class="fa fa-file-excel-o"></i>
							<span class="hidden-xs"> 下载模版 </span>
						</a>
						<a href="javascript:" class="btn green btn-outline btn-circle fileinput-button">
							<i class="fa fa-file-excel-o"></i>
							<input id="fileupload" type="file" name="file"
							       th:attr="data-url=@{/console/project/importExcel}"
							       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
							全覆盖导入excel
						</a>
						<a class="btn yellow btn-outline btn-circle" href="javascript:exportExcel();">
							<i class="fa fa-file-excel-o"></i>
							<span class="hidden-xs"> 导出excel </span>
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover table-checkable order-column"
					       id="sample_1">
						<thead>
						<tr>
							<th width="2%">
								<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
									<input type="checkbox" class="group-checkable"
									       data-set="#sample_1 .checkboxes"/>
									<span></span>
								</label>
							</th>
							<th>项目编号</th>
							<th>项目名称</th>
							<th>客户编号</th>
							<th>联系人编号</th>
							<th>业务类别</th>
							<th>备注</th>
							<th width="25%">操作</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>

	<div class="m-heading-1 border-green m-bordered">
		<h4 class="alert-heading">事项说明:</h4>
		<p>1.此表是项目列表.</p>
		<p>2.全覆盖导入是:导入时会先清除全表信息,再导入.</p>
		<p>3.新增和修改都先导出excel,修改excel,再导入.未提供单独的新增和修改功能.</p>
		</p>
	</div>
	<!-- END PAGE BASE CONTENT -->
</div>
</body>
<div layout:fragment="myScript">
	<script>
		jQuery(document).ready(function () {
			initTable();
			initMenuAndTitle();
			initImportExcel();
		});
		/**
		 * 初始化标题
		 */
		function initMenuAndTitle() {
			//menu
			$('#menu_li_project').addClass("active open");
			$('#menu_sub_li_project').addClass("active");
			//title
			$('#page_title_1').html('业务数据');
			$('#page_title_2').html('项目相关');
			$('#page_title_3').html('项目表');
		}
		/**
		 * 初始化表格插件
		 */
		function initTable() {
			var option1 = {
				// Internationalisation. For more info refer to http://datatables.net/manual/i18n
				// Or you can use remote translation file
				"language": {
					url: getTableChineseJson()
				},

				// Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
				// setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
				// So when dropdowns used the scrollable div should be removed.
				//"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

				//"bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
				"bServerSide": true,
				/*
				 * sServerMethod
				 * 默认值为GET
				 * 设置使用Ajax方式调用的服务器端的处理方法或者Ajax数据源的HTTP请求方式
				 */
				"sAjaxSource": getWebName() + "/console/project/list",
				"sAjaxDataProp": "find",
				"sServerMethod": "POST",
				"bProcessing": false,
				"bFilter": false,//去掉搜索框
				"ordering": false,//去掉排序按钮
				"aoColumns": [{
					"sDefaultContent": ''
				}, {
					"mDataProp": "projectNo"
				}, {
					"mDataProp": "projectName"
				}, {
					"mDataProp": "customerNo"
				}, {
					"mDataProp": "contactNo"
				}, {
					"mDataProp": "businessCategory"
				}, {
					"mDataProp": "remarks"
				}, {
					"sDefaultContent": ''
				}],

				"lengthMenu": [
					[5, 15, 20, -1],
					[5, 15, 20, "All"] // change per page values here
				],
				// set the initial value
				"pageLength": 5,
				"pagingType": "bootstrap_full_number",
				"columnDefs": [// set default column settings
					{//复选框
						"render": function (data, type, full, meta) {
							var info = '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">';
							info += '<input type="checkbox" class="checkboxes" value="' + full.id + '" title="' + full.id + '" name="checkbox1" />';
							info += '<span></span>';
							info += '</label>';
							return info;
						},
						"targets": [0]
					},

					{
						"className": "dt-center",
						"render": function (data, type, full, meta) {
							var info = '<a href="' + getWebName() + '/console/project/' + full.id + '/update" id="update" class="btn btn-sm blue">修改</a>';
							return info;
						},
						"targets": [7]
					}
				],
			};
			initTable1($('#sample_1'), option1);
		}
		/**
		 * 删除运行中的流程
		 */
		function deleteProject() {
			var info = [];
			$("input[name=checkbox1]:checked").each(function () {
				if ($(this).attr("name") !== "th") {
					info.push($(this).val());
				}
			});
			if (info.length >= 1) {
				if (confirm("确定要删除么?")) {
					$.ajax({
						url: getWebName() + '/console/project/delete',
						type: 'POST',
						dataType: "json",
						//防止ajax重复提交
						async: false,
						data: JSON.stringify(info),
						contentType: 'application/json;charset=utf-8',
						success: function (result) {
							refreshTable($('#sample_1'));
							alert(result.message);
						},
						error: function (result) {
							refreshTable($('#sample_1'));
							alert(result.message);
						}
					});
				}
			} else {
				alert("没有选择任何数据");
			}
		}

		/**
		 * 导出到excel
		 */
		function exportExcel() {
			location.href = getWebName() + "/console/project/exportExcel";
			/* 这里不能用ajax请求，ajax请求无法弹出下载保存对话框 */
		}
		/**
		 *下载模版
		 */
		function downloadTemplate() {
			location.href = getWebName() + "/console/project/downloadExcelTemplate";
			/* 这里不能用ajax请求，ajax请求无法弹出下载保存对话框 */
		}

		/**
		 * 导入excel
		 */
		function initImportExcel() {
			$('#fileupload').fileupload({
				dataType: 'json'
			}).bind('fileuploaddone', function (e, data) {
				refreshTable($('#sample_1'));
				alert(data.result.message);
			})
		}
	</script>
</div>
</html>